{% extends "info/base.html" %}
{% block title %}
    TimeTable
{% endblock title %}
{% load static %}
{% block css %}
    {{ block.super }}
    <style>
    @media print {
      body * {
        visibility: hidden;
      }
      .card,
      .card * {
        visibility: visible;
      }
      .card {
        display:flex;
        left: 0;
        top: 0;
      }
      .card-footer {
        display: none !important;
      }
      .navbar,
      .sidebar {
        display: none !important;
      }
      #content-wrapper {
        margin-left: 0 !important;
        width: 100% !important;
      }
      .container-fluid {
        padding: 0 !important;
      }
      p.printdatetime {
        display:block !important;
      }
    }
    </style>
{% endblock css %}
{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            <h2 class="text-center">
                <i class="fas fa-calendar-days"></i>
                Timetable for {{ class_id }}
            </h2>
        </div>
        <div id="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-condenced"
                       display="fixed"
                       width="100%"
                       cellspacing="0"
                       id="dataTable">
                    <thead>
                        <tr>
                            <th></th>
                            <th>8:30 - 9:45</th>
                            <th>9:45 - 10:45</th>
                            <th>Break</th>
                            <th>11:10 - 12:10</th>
                            <th>12:10 - 1:10</th>
                            <th>Lunch</th>
                            <th>1:50 - 2:40</th>
                            <th>2:40 - 3:30</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in matrix %}
                            <tr>
                                {% for j in i %}
                                    {% if forloop.counter == 1 %}
                                        <td>
                                            <b>{{ j }}</b>
                                        </td>
                                    {% else %}
                                        <td>
                                            {% if j.assign.course_id and j.assign.course.shortname %}
                                                {{ j.assign.course_id }}-{{ j.assign.course.shortname }}
                                            {% elif j.assign.course_id %}
                                                {{ j.assign.course_id }}
                                            {% elif j.assign.course.shortname %}
                                                {{ j.assign.course.shortname }}
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <p class="printdatetime">{% now "jS F Y h:iA e" %}</p>
        </div>
        <div class="card-footer justify-content-center d-flex">
            <button id="printButton" class="btn btn-primary">
                <i class="fa fa-print"></i> Print Timetable
            </button>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    {{ block.super }}
    <script>
    document.getElementById('printButton').addEventListener('click', function () {
      window.print()
    })
    </script>
{% endblock scripts %}
